body, .btn, a {
    color: black;
    font-family: nunito, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1{
    display: none;
    margin-left: 2vw;
    font-weight: 1000;
    font-size: 25px;
}


header, footer, nav {
    background:
		radial-gradient(300px circle at 73% 60%, rgba(76, 18, 99, 1),rgba(69,28,84,0)),
		radial-gradient(280px circle at 52% 70%, rgba(220,123,67,1),rgba(220,123,67,0)),
		radial-gradient(421px circle at 82% 82%, rgba(197,197,145,1),rgba(197,197,145,0)),
		radial-gradient(450px circle at 42% 65%, rgba(192,40,89,1),rgba(192,40,89,0)),
		radial-gradient(480px circle at 40% 75%, rgba(192,40,89,1),rgba(192,40,89,0)),
		radial-gradient(480px circle at 38% 95%, rgba(192,40,89,1),rgba(192,40,89,0)),
		radial-gradient(435px circle at 65% 73%, rgba(235,188,143, 1), rgba(235,188,143, 0)),
		linear-gradient(to right bottom, rgb(52, 31, 109), rgb(137, 66, 145) 40%, rgb(132, 64, 139) 60%, rgb(137, 58, 146)),
		linear-gradient(to right, #7f5d996c, #b8205d);
}
.dropdown-menu {
    background-color: rgba(114, 124, 244, 0.8);   
}
.dropdown-menu > li > a:hover {
    background-color: rgba(151, 158, 250, 0.65);;   
}

main {
    position:static;
    background-image: url("../img/bg-img.jpg");
    background-position: center;
    background-size: cover;
    min-height: 150px;
    height: 80vh;
    padding: 5%;
}
header {
    height: 10vh;
    min-height: 110px;
}

footer {
    height: 10vh; 
    min-height: 50px;
}


.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-brand:hover {
    text-decoration: none;
}

.wea-logo-left {
    height: 15vh;
    min-height: 100px;
}

.wea-logo-right {
    display: none;
    height: 15vh;
    min-height: 100px;
}

main > section {
    height: 100%;
    width: 85vw;
    margin-left: 2.5vw;
    background-color: rgba(151, 158, 250, 0.75);
    min-height: 150px;
    box-shadow: 5px 5px 20px rgba(51, 54, 87, 0.644) ;
}

main > section > h2 {
    padding: 2rem;
    font-size: 4vw;
    font-weight: bold;
}
main > section > p {
    font-size: 2vw;
}

@media (min-width: 420px ) {
    h1{
        display: block;
    }
    
}

@media (min-width: 1200px ) {
    .wea-logo-left{
        display: none;
    }
    .wea-logo-right {
        display: initial;
    }
    h1{
        font-size: 45px;
    }
    main > section > h2 {
        font-size: 2vw;
    }
    main > section > p {
        font-size: 1vw;
    }
    

}