@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Permanent+Marker');

body, .btn, a {
    color: black;
    font-family: 'nunito', sans-serif;
}
.dropdown-menu, h2, h3, main > section > p, main > section > section > p, footer {
    font-size: 12px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}
section > section > h2, h3 {
    font-family:'Open Sans', sans-serif;
} 
h1{
    display: none;
    margin-left: 2vw;
    font-weight: 1000;
    font-size: 25px;
}

.base-color {
    background-color: rgba(189, 192, 238, 0.75);
}
.light-color {    
    background-color: rgba(223, 228, 251, 0.75);
}
.dark-color {
    background-color: rgba(151, 158, 250, 0.75);
}
.dropdown-menu{    
    background-color: rgba(223, 228, 251, 0.4);
}
.dropdown-menu > li > a:hover {
    background-color: rgba(151, 158, 250, 0.65);;   
}


.border-radius-60px {
    border-radius: 60px;
}
.border-radius-30px {
    border-radius: 30px;
}

header, footer, nav {
    background:
		radial-gradient(300px circle at 73% 60%, rgba(76, 18, 99, 1),rgba(69,28,84,0)),
		radial-gradient(280px circle at 52% 70%, rgba(220,123,67,1),rgba(220,123,67,0)),
		radial-gradient(421px circle at 82% 82%, rgba(197,197,145,1),rgba(197,197,145,0)),
		radial-gradient(450px circle at 42% 65%, rgba(192,40,89,1),rgba(192,40,89,0)),
		radial-gradient(480px circle at 40% 75%, rgba(192,40,89,1),rgba(192,40,89,0)),
		radial-gradient(480px circle at 38% 95%, rgba(192,40,89,1),rgba(192,40,89,0)),
		radial-gradient(435px circle at 65% 73%, rgba(235,188,143, 1), rgba(235,188,143, 0)),
		linear-gradient(to right bottom, rgb(52, 31, 109), rgb(137, 66, 145) 40%, rgb(132, 64, 139) 60%, rgb(137, 58, 146)),
		linear-gradient(to right, #7f5d996c, #b8205d);
}
.dropdown-menu {
    font-size: 12px;
}
.dropdown-menu > li > a:hover {
    background-color: rgba(151, 158, 250, 0.65);;   
}

header {
    height: 10vh;
    min-height: 110px;
}
main {
    position:static;
    background-image: url("../img/bg-img.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    min-height: 150px;
    padding: 8% 5%;
    overflow: hidden;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-height: 50px;
}


.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-brand:hover {
    text-decoration: none;
}

.wea-logo-right, .wea-logo-left {
    height: 15vh;
    min-height: 100px;
}
.wea-logo-right {
    display: none;
}

main > section {
    height: 120%;
    width: 85vw;
    margin-left: 2.5vw;
    min-height: 150px;
    overflow: auto;
    text-align: center;
    padding: 5%;
}

main > section > section{
    box-shadow: 5px 5px 20px rgba(51, 54, 87, 0.644) ;
    padding: 5%;
}

h2, h3 {
    padding: 2rem;
    font-weight: bold;
}

.event-img {
    width: 80%;
}

@media (min-width: 420px ) {
    h1{
        display: block;
        font-size: 3vw;
    }
    h2, h3 {
        font-size: 2.5vw;
    }
    main > section > p, main > section > section > p {
        font-size: 2vw;
    }
    
}

@media (min-width: 1200px ) {
    .wea-logo-left{
        display: none;
    }
    .wea-logo-right {
        display: initial;
    }
    h1{
        font-size: 2vw;
    }
    main > section > h2, main > section > h3 {
        font-size: 1.8vw;
    }
    main > section > p, main > section > section > p {
        font-size: 1vw;
    }
    footer > .btn {
        font-size: 1.4vw;
    }
    
} 

@media (min-width: 1430px ) {
    header{
        font-size: 1.4vw;
    }
    .dropdown-menu {
        font-size: 1.3vw;
    }
        
}

@media (orientation: portrait) and (min-width: 720px) {
    h1{
        font-size: 2.1vw;
    }
    h2, h3 {
        font-size: 2vw;
    }
    main > section > p, main > section > section > p {
        font-size: 1.8vw;
    }
    footer > .btn {
        font-size: 1.8vw;
    }
    
    header{
        font-size: 1.8vw;
    }
    .dropdown-menu {
        font-size: 1.5vw;
    }
        
}