@media (max-width: 576px ) {
    .navbar-toggler { transform: scale(0.75, 0.75);}
}

main {
    background-image: url("../img/bg-img.jpg");
    background-position: center;
    height: 70vh;
    background-size: cover;
}